body {
    background-color: white 
    font-family arial, sans-serif;
}
header{
    font-size: small;
}
.center {
    display: block;
    text-align: center;
    -webkit-appearance: none 
}
.content {
    width: 272px;
    height: 92px;
    margin-top: 89px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -150px;
}
search {
    -moz-user-input: text;
        background-color: white;
        background-image: url('searchicon.png');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding-left: 40px;
 }
footer{
    font-size: small;
}