body {
    background-color: white 
    font-family arial, sans-serif;
}
header{
    font-size: small;
}
.center {
    display: block;
    text-align: center;
    -webkit-appearance: none 
}
.content {
    width: 272px;
    height: 92px;
    margin-top: 89px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

footer{
    font-size: small;
}